{% extends 'base.html'%}

{% block title %}About Me{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2 class="title-section"><span class="title-regular">ABOUT</span><br/>ME</h2>
            <hr class="title-underline" />
            <p>
                Hello! My name is Ronald, and I am a passionate web developer with a strong background in Adobe Photoshop. I am excited about creating visually stunning and highly functional websites that leave a lasting impression.
            </p>
            <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="fa fa-facebook brd-size-30"></i></a>
            <a href="#" class="social-icon" title="Google-plus" target="_blank"><i class="fa fa-google-plus brd-size-30"></i></a>
            <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="fa fa-twitter brd-size-30"></i></a>
        </div>
        <div class="col-md-8">
            <span class="progress-skillbar-title">Django Framework</span>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                    50%
                </div>
            </div>
            <span class="progress-skillbar-title">Adobe Photshop</span>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                    75%
                </div>
            </div>
            <span class="progress-skillbar-title">Wordpress</span>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                    50%
                </div>
            </div>
            <span class="progress-skillbar-title">JavaScript</span>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                    50%
                </div>
            </div>
            <span class="progress-skillbar-title">HTML5 / CSS5</span>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                    50%
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h5>Web Development</h5>
            <p>With hands-on experience in web development, I have honed my skills in front-end and back-end technologies. I am proficient in HTML, CSS, and JavaScript, and I have hands-on experience with popular frameworks such as Django, React and Angular. I enjoy transforming design concepts into pixel-perfect, responsive web pages that provide a seamless user experience. I am also well-versed in web accessibility standards and best practices to ensure that my websites are inclusive and user-friendly for all.</p>
        </div>
        <div class="col-md-4">
            <h5>Adobe Photoshop</h5>
            <p>In addition to my web development expertise, I am proficient in Adobe Photoshop, a powerful tool for graphic design and image editing. I have [X years] of experience using Photoshop to create visually captivating designs, manipulate images, and enhance photographs. I enjoy leveraging my skills in Photoshop to create stunning visuals that align with the branding and vision of a project.</p>
        </div>
        <div class="col-md-4">
            <h5>Combining Web Development and Photoshop</h5>
            <p>My unique combination of skills in web development and Adobe Photoshop allows me to bring a holistic approach to my projects. I can seamlessly integrate my design skills with my coding abilities to create websites that not only look aesthetically pleasing but also perform optimally. Whether it's creating eye-catching banners, optimizing images for web, or designing intuitive user interfaces, I leverage my knowledge of both web development and Photoshop to deliver exceptional results.</p>
        </div>
        <div class="col-md-6">
            <h5>Continuous Learning</h5>
            <p>I am passionate about staying up-to-date with the latest trends and technologies in web development and design. I actively seek opportunities to expand my skill set and improve my craft. I enjoy taking on new challenges and finding innovative solutions to problems. The dynamic nature of the web industry motivates me to continually learn and grow as a professional.</p>
        </div>
        <div class="col-md-6">
            <h5>Collaboration and Communication</h5>
            <p>Throughout my career, I have developed strong collaboration and communication skills. I thrive in team environments, working closely with designers, developers, and stakeholders to ensure project success. I am an effective communicator, able to translate technical concepts into non-technical terms, fostering effective collaboration and understanding among team members.</p>
            
            <p>If you're looking for a dedicated web developer with a keen eye for design and a passion for creating exceptional user experiences, I would love to be a part of your team. Please feel free to reach out to me to discuss potential collaborations or projects.</p>
            
            <p>Thank you for visiting my page, and I look forward to connecting with you soon!</p>
        </div>
    </div>
</div>
{% include 'footer.html'%}

{% endblock %}