{% extends 'base.html' %}

{% block content %}

{% include 'tickets/ticket_header.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-info" href="{% url 'ticket_create' %}">Add New Ticket</a>
            <a class="btn btn-info" href="{% url 'customer_view' %}">Customer List</a>
            <a class="btn btn-info" href="{% url 'customer_add' %}">Add New Customer</a>
        </div>
        <br></br>
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">Customer ID</th>
                        <th scope="col">Customer Full Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Address</th>
                        <th scope="col">Phone Number</th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in p_customers %}
                    <tr>
                        <th scope="row">{{ customer.id  }}</th>
                        <td>{{ customer.first_name }}&nbsp;{{ customer.last_name }}</td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.address }}</td>
                        <td>{{ customer.phone_number }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>{% if p_customers.has_previous %}
                <a href="?page=1">&laquo; First | </a>
                <a href="?page={{ p_customers.previous_page_number }}">Previous</a>
            {% endif %}
                | Page {{ p_customers.number }} of {{ p_customers.paginator.num_pages }} | 
            {% if p_customers.has_next  %}
                <a href="?page={{p_customers.next_page_number }}">Next | </a>
                <a href="?page={{p_customers.paginator.num_pages}}">Last &raquo;</a></p>
            {% endif %}
        </div>
    </div>
</div>
{% include 'footer.html'%}
{% endblock %}
